parameters:
    level: max
    paths:
        - src/
        - tests/
    scanFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/wordpress-seo-stubs/wordpress-seo-stubs.php
    treatPhpDocTypesAsCertain: false
